<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagmentSystem - Orders Processing Area</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantManagmentSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary" aria-label="Third navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Waiter" asp-controller="Home" asp-action="Index">R M S</a>
                <div class="collapse navbar-collapse" id="navbarsExample03">
                   @* <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Waiter" asp-controller="Home" asp-action="All">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Waiter" asp-controller="Order" asp-action="Create">Create New Order</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link active" asp-area="Waiter" asp-controller="Table" asp-action="Index">Manage Tables</a>
                        </li>
                    </ul>*@
                    <partial name="_LogoutPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Today.ToString("yyyy") - Restaurant Managment System - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
