@using RestaurantManagmentSystem.Core.Models.Categories
@model CategoryViewModel

@{
    ViewData["Title"] = "Add new Category";
}

<h2 class="text-center">Add Category Name</h2>

<div class="row">
        <form method="post">
            <div class="col-4">
                <input placeholder="Drinks, Sides, Course Meals ..." asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="col mt-2">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
